In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('buisness.csv')
df.head()

,Store,Country,Region,Date,Item,Salesperson,List Price,Actual Price,Discount %
0,Moscow,Russia,EMEA,10/6/2018,Microwave,May Wilmot,80,79,1.25%
1,Toronto,Canada,NaN,4/23/2015,Microwave,David Shiner,80,54,32.50%
2,Sao Paolo,Brazil,LATAM,4/3/2017,Air conditioner,Gary Reynolds,700,686,2.00%
3,Istanbul,Turkey,EMEA,8/14/2018,Ceiling fan,Mark Buntain,150,137,8.67%
4,Sydney,Australia,APAC,3/3/2015,Toaster,Christine Davies,50,37,26.00%

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         2339 non-null   object
 1   Country       2339 non-null   object
 2   Region        1946 non-null   object
 3   Date          2339 non-null   object
 4   Item          2339 non-null   object
 5   Salesperson   2339 non-null   object
 6   List Price    2339 non-null   int64
 7   Actual Price  2339 non-null   int64
 8   Discount %    2339 non-null   object
dtypes: int64(2), object(7)
memory usage: 164.6+ KB

In [4]:
df.describe()

        List Price  Actual Price
count  2339.000000   2339.000000
mean    340.162463    289.874305
std     325.668713    269.497560
min      30.000000      8.000000
25%      50.000000     49.000000
50%     150.000000    147.000000
75%     500.000000    500.000000
max    1000.000000   1000.000000

In [5]:
print(df.isnull().sum())

Store             0
Country           0
Region          393
Date              0
Item              0
Salesperson       0
List Price        0
Actual Price      0
Discount %        0
dtype: int64

In [6]:
df.loc[:,'Store':'List Price']

,Store,Country,Region,Date,Item,Salesperson,List Price
0,Moscow,Russia,EMEA,10/6/2018,Microwave,May Wilmot,80
1,Toronto,Canada,NaN,4/23/2015,Microwave,David Shiner,80
2,Sao Paolo,Brazil,LATAM,4/3/2017,Air conditioner,Gary Reynolds,700
3,Istanbul,Turkey,EMEA,8/14/2018,Ceiling fan,Mark Buntain,150
4,Sydney,Australia,APAC,3/3/2015,Toaster,Christine Davies,50
...,...,...,...,...,...,...,...
2334,Vienna,Austria,EMEA,12/19/2017,Microwave,Raymond Denning,80
2335,Shenzhen,China,APAC,2/17/2015,Microwave,Phillip Humphreys,80
2336,Istanbul,Turkey,EMEA,5/27/2015,Washing Machine,David Philp,800
2337,Athens,Greece,EMEA,7/10/2016,Coffee grinder,Richard Perrott,70
2338,Shanghai,China,APAC,2/9/2017,Microwave,Glenys Raymond,80

In [7]:
type(df[["Store", "List Price"]]).shape

In [8]:
S = df[["Store", "List Price"]]

In [9]:
S

          Store  List Price
0        Moscow          80
1       Toronto          80
2     Sao Paolo         700
3      Istanbul         150
4        Sydney          50
...         ...         ...
2334     Vienna          80
2335   Shenzhen          80
2336   Istanbul         800
2337     Athens          70
2338   Shanghai          80

[2339 rows x 2 columns]

In [10]:
df

,Store,Country,Region,Date,Item,Salesperson,List Price,Actual Price,Discount %
0,Moscow,Russia,EMEA,10/6/2018,Microwave,May Wilmot,80,79,1.25%
1,Toronto,Canada,NaN,4/23/2015,Microwave,David Shiner,80,54,32.50%
2,Sao Paolo,Brazil,LATAM,4/3/2017,Air conditioner,Gary Reynolds,700,686,2.00%
3,Istanbul,Turkey,EMEA,8/14/2018,Ceiling fan,Mark Buntain,150,137,8.67%
4,Sydney,Australia,APAC,3/3/2015,Toaster,Christine Davies,50,37,26.00%
...,...,...,...,...,...,...,...,...,...
2334,Vienna,Austria,EMEA,12/19/2017,Microwave,Raymond Denning,80,78,2.50%
2335,Shenzhen,China,APAC,2/17/2015,Microwave,Phillip Humphreys,80,78,2.50%
2336,Istanbul,Turkey,EMEA,5/27/2015,Washing Machine,David Philp,800,480,40.00%
2337,Athens,Greece,EMEA,7/10/2016,Coffee grinder,Richard Perrott,70,64,8.57%
2338,Shanghai,China,APAC,2/9/2017,Microwave,Glenys Raymond,80,77,3.75%

In [11]:
df['Item'].value_counts()

Iron               239
Microwave          203
Washing Machine    199
Blender            196
Vacuum Cleaner     196
Air conditioner    195
Oven               194
Toaster            190
Coffee grinder     189
Refrigerator       184
Ceiling fan        180
Dishwasher         174
Name: Item, dtype: int64

In [12]:
df

,Store,Country,Region,Date,Item,Salesperson,List Price,Actual Price,Discount %
0,Moscow,Russia,EMEA,10/6/2018,Microwave,May Wilmot,80,79,1.25%
1,Toronto,Canada,NaN,4/23/2015,Microwave,David Shiner,80,54,32.50%
2,Sao Paolo,Brazil,LATAM,4/3/2017,Air conditioner,Gary Reynolds,700,686,2.00%
3,Istanbul,Turkey,EMEA,8/14/2018,Ceiling fan,Mark Buntain,150,137,8.67%
4,Sydney,Australia,APAC,3/3/2015,Toaster,Christine Davies,50,37,26.00%
...,...,...,...,...,...,...,...,...,...
2334,Vienna,Austria,EMEA,12/19/2017,Microwave,Raymond Denning,80,78,2.50%
2335,Shenzhen,China,APAC,2/17/2015,Microwave,Phillip Humphreys,80,78,2.50%
2336,Istanbul,Turkey,EMEA,5/27/2015,Washing Machine,David Philp,800,480,40.00%
2337,Athens,Greece,EMEA,7/10/2016,Coffee grinder,Richard Perrott,70,64,8.57%
2338,Shanghai,China,APAC,2/9/2017,Microwave,Glenys Raymond,80,77,3.75%

In [14]:
### Complete ✅ 10/10
df.groupby(['Region','Item']).sum(['Actual Price'])

                        List Price  Actual Price
Region Item
APAC   Air conditioner       37800         33306
       Blender                2150          1939
       Ceiling fan            6000          5462
       Coffee grinder         3710          3319
       Dishwasher            18500         16220
       Iron                   1800          1633
       Microwave              4160          3836
       Oven                  24000         23760
       Refrigerator          49000         36610
       Toaster                2250          1987
       Vacuum Cleaner        10250          9238
       Washing Machine       38400         29720
EMEA   Air conditioner       57400         51576
       Blender                4400          3886
       Ceiling fan           12300         11194
       Coffee grinder         5390          4910
       Dishwasher            45000         40105
       Iron                   3000          2682
       Microwave              7200          6412
       Oven                  39000         38665
       Refrigerator          84000         66030
       Toaster                3600          3239
       Vacuum Cleaner        23000         20143
       Washing Machine       71200         56872
LATAM  Air conditioner       18200         16282
       Blender                1700          1504
       Ceiling fan            3600          3298
       Coffee grinder         1890          1655
       Dishwasher            13500         11890
       Iron                   1050           944
       Microwave              2400          2099
       Oven                  15500         15295
       Refrigerator          26000         19170
       Toaster                1500          1351
       Vacuum Cleaner         8000          7249
       Washing Machine       24000         17752

In [15]:
df.set_index("Country", 
              inplace = True)

In [16]:
df1=df.loc["Columbia"]

In [17]:
df1

,Store,Region,Date,Item,Salesperson,List Price,Actual Price,Discount %
Country,,,,,,,,
Columbia,Bogota,LATAM,1/4/2018,Air conditioner,Antony Westlake,700,693,1.00%
Columbia,Bogota,LATAM,8/24/2015,Coffee grinder,Shelley Mannix,70,48,31.43%
Columbia,Bogota,LATAM,12/25/2017,Iron,Lisa Manning,30,27,10.00%
Columbia,Bogota,LATAM,1/28/2016,Iron,Lisa Manning,30,27,10.00%
Columbia,Bogota,LATAM,1/23/2014,Washing Machine,Antony Westlake,800,544,32.00%
Columbia,Bogota,LATAM,3/27/2016,Air conditioner,Gary Percival,700,623,11.00%
Columbia,Bogota,LATAM,10/14/2017,Vacuum Cleaner,Ronald Curtis,250,230,8.00%
Columbia,Bogota,LATAM,12/30/2017,Washing Machine,Basil Nolan,800,488,39.00%
Columbia,Bogota,LATAM,6/13/2018,Air conditioner,Philip Mishra,700,651,7.00%
Columbia,Bogota,LATAM,11/21/2014,Microwave,Margaret Buck,80,75,6.25%
Columbia,Bogota,LATAM,2/28/2014,Toaster,Paul Puri,50,47,6.00%
Columbia,Bogota,LATAM,2/9/2015,Blender,Ronald Curtis,50,32,36.00%
Columbia,Bogota,LATAM,4/8/2015,Ceiling fan,David Finnie,150,144,4.00%
Columbia,Bogota,LATAM,3/2/2015,Blender,Lisa Manning,50,32,36.00%
Columbia,Bogota,LATAM,1/29/2015,Ceiling fan,David Finnie,150,140,6.67%
Columbia,Bogota,LATAM,2/8/2016,Air conditioner,Margaret Buck,700,602,14.00%
Columbia,Bogota,LATAM,8/28/2016,Blender,Shelley Mannix,50,47,6.00%
Columbia,Bogota,LATAM,8/30/2014,Refrigerator,Antony Westlake,1000,750,25.00%
Columbia,Bogota,LATAM,6/19/2016,Coffee grinder,David Finnie,70,67,4.29%
Columbia,Bogota,LATAM,6/21/2017,Refrigerator,Russell Thorley,1000,710,29.00%
Columbia,Bogota,LATAM,5/13/2017,Air conditioner,Shelley Mannix,700,693,1.00%
Columbia,Bogota,LATAM,4/10/2017,Vacuum Cleaner,David Finnie,250,235,6.00%
Columbia,Bogota,LATAM,3/20/2014,Toaster,Paul Puri,50,39,22.00%
Columbia,Bogota,LATAM,11/3/2015,Coffee grinder,Paul Puri,70,58,17.14%
Columbia,Bogota,LATAM,3/23/2018,Iron,Ronald Curtis,30,29,3.33%
Columbia,Bogota,LATAM,8/11/2016,Dishwasher,Ronald Curtis,500,470,6.00%
Columbia,Bogota,LATAM,11/27/2014,Toaster,Lisa Manning,50,45,10.00%
Columbia,Bogota,LATAM,8/6/2018,Ceiling fan,Philip Mishra,150,129,14.00%
Columbia,Bogota,LATAM,10/24/2015,Iron,Margaret Buck,30,29,3.33%
Columbia,Bogota,LATAM,10/5/2014,Dishwasher,Sandra Rew,500,430,14.00%
Columbia,Bogota,LATAM,9/25/2018,Blender,Russell Thorley,50,45,10.00%
Columbia,Bogota,LATAM,1/1/2015,Vacuum Cleaner,Ronald Curtis,250,220,12.00%
Columbia,Bogota,LATAM,3/19/2018,Oven,Russell Thorley,500,490,2.00%
Columbia,Bogota,LATAM,5/19/2016,Oven,Alison Lazar,500,490,2.00%
Columbia,Bogota,LATAM,12/16/2014,Microwave,Margaret Buck,80,60,25.00%
Columbia,Bogota,LATAM,12/27/2015,Refrigerator,Paul Puri,1000,960,4.00%
Columbia,Bogota,LATAM,7/15/2017,Refrigerator,David Finnie,1000,730,27.00%
Columbia,Bogota,LATAM,11/8/2016,Ceiling fan,Gary Percival,150,146,2.67%
Columbia,Bogota,LATAM,5/18/2016,Vacuum Cleaner,Sandra Rew,250,235,6.00%
Columbia,Bogota,LATAM,9/10/2016,Microwave,Alison Lazar,80,69,13.75%
Columbia,Bogota,LATAM,6/18/2015,Dishwasher,Philip Mishra,500,345,31.00%
Columbia,Bogota,LATAM,9/17/2018,Refrigerator,Basil Nolan,1000,590,41.00%
Columbia,Bogota,LATAM,4/11/2016,Iron,Alison Lazar,30,30,0.00%
Columbia,Bogota,LATAM,3/11/2014,Toaster,Basil Nolan,50,48,4.00%
Columbia,Bogota,LATAM,8/18/2017,Microwave,Russell Thorley,80,80,0.00%
Columbia,Bogota,LATAM,7/31/2015,Iron,Basil Nolan,30,21,30.00%
Columbia,Bogota,LATAM,3/16/2015,Blender,Russell Thorley,50,43,14.00%
Columbia,Bogota,LATAM,11/24/2017,Microwave,Lisa Manning,80,74,7.50%
Columbia,Bogota,LATAM,6/9/2014,Coffee grinder,Ronald Curtis,70,52,25.71%
Columbia,Bogota,LATAM,11/13/2017,Ceiling fan,Russell Thorley,150,147,2.00%
Columbia,Bogota,LATAM,11/7/2015,Oven,David Finnie,500,495,1.00%
Columbia,Bogota,LATAM,11/19/2014,Refrigerator,Alison Lazar,1000,800,20.00%
Columbia,Bogota,LATAM,8/16/2017,Dishwasher,Paul Puri,500,470,6.00%
Columbia,Bogota,LATAM,2/8/2015,Washing Machine,Alison Lazar,800,656,18.00%
Columbia,Bogota,LATAM,4/29/2015,Microwave,Philip Mishra,80,72,10.00%
Columbia,Bogota,LATAM,10/20/2018,Washing Machine,Antony Westlake,800,720,10.00%
Columbia,Bogota,LATAM,2/26/2014,Iron,Russell Thorley,30,25,16.67%

In [18]:
df1.groupby(['Salesperson','Discount %']).mean()

                             List Price  Actual Price
Salesperson     Discount %
Alison Lazar    0.00%         30.000000          30.0
                13.75%        80.000000          69.0
                18.00%       800.000000         656.0
                2.00%        500.000000         490.0
                20.00%      1000.000000         800.0
Antony Westlake 1.00%        700.000000         693.0
                10.00%       800.000000         720.0
                25.00%      1000.000000         750.0
                32.00%       800.000000         544.0
Basil Nolan     30.00%        30.000000          21.0
                39.00%       800.000000         488.0
                4.00%         50.000000          48.0
                41.00%      1000.000000         590.0
David Finnie    1.00%        500.000000         495.0
                27.00%      1000.000000         730.0
                4.00%        150.000000         144.0
                4.29%         70.000000          67.0
                6.00%        250.000000         235.0
                6.67%        150.000000         140.0
Gary Percival   11.00%       700.000000         623.0
                2.67%        150.000000         146.0
Lisa Manning    10.00%        36.666667          33.0
                36.00%        50.000000          32.0
                7.50%         80.000000          74.0
Margaret Buck   14.00%       700.000000         602.0
                25.00%        80.000000          60.0
                3.33%         30.000000          29.0
                6.25%         80.000000          75.0
Paul Puri       17.14%        70.000000          58.0
                22.00%        50.000000          39.0
                4.00%       1000.000000         960.0
                6.00%        275.000000         258.5
Philip Mishra   10.00%        80.000000          72.0
                14.00%       150.000000         129.0
                31.00%       500.000000         345.0
                7.00%        700.000000         651.0
Ronald Curtis   12.00%       250.000000         220.0
                25.71%        70.000000          52.0
                3.33%         30.000000          29.0
                36.00%        50.000000          32.0
                6.00%        500.000000         470.0
                8.00%        250.000000         230.0
Russell Thorley 0.00%         80.000000          80.0
                10.00%        50.000000          45.0
                14.00%        50.000000          43.0
                16.67%        30.000000          25.0
                2.00%        325.000000         318.5
                29.00%      1000.000000         710.0
Sandra Rew      14.00%       500.000000         430.0
                6.00%        250.000000         235.0
Shelley Mannix  1.00%        700.000000         693.0
                31.43%        70.000000          48.0
                6.00%         50.000000          47.0

In [19]:
df1[["Salesperson", "Discount %"]].mean().max()

nan

In [20]:
df1[df1['Discount %'] == df1['Discount %'].max()]

,Store,Region,Date,Item,Salesperson,List Price,Actual Price,Discount %
Country,,,,,,,,
Columbia,Bogota,LATAM,10/14/2017,Vacuum Cleaner,Ronald Curtis,250,230,8.00%